<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @credit_card.provider %>
</p>

<p>
  <strong>Validation:</strong>
  <%= @credit_card.validation %>
</p>


<%= link_to 'Back', credit_cards_path %>
